.banner-container {     /*-------anything between these lines are just properties transfered from my original styles page to ensure the pages are fluid with each other visually-------*/
    margin-top: 75px;
    position: absolute;
}
.banner {
    display: flex;
    max-width: 100%;
    left: 0px;
}
button {
    background-color: white;
    padding: 5px 15px;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Homemade Apple';
    margin: 2px 2px;
    /* transition: 0.3s; */
    cursor: pointer;
}
.name {
    margin-top: 4%;
    margin-bottom: 0;
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
    color:#EFEAD8;
}
a:hover, a:active {
    text-decoration: none;
    color:#22492c;
}
h1 {
    margin: 5px auto 0 auto;
    font-family: 'Homemade Apple';
    font-size: 3.5rem;
}
h2 {
    color:rgb(34, 32, 35);
    margin-top: 0px;
    font-family: 'Nanum Gothic';
    font-size: 1.5rem;
}
body {
    background-color: #EFEAD8;
    font-family: 'Nanum Gothic';
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    overflow-y: scroll; 
}                   /*--------stop original styles page transfer---------*/
body::-webkit-scrollbar {   /*hides scrollbar*/
    display: none;
}
  
  /*Whole Timeline*/
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 12% auto;
  }
  
  /* Timeline Vertical Line */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(34, 32, 35);
    top: -18.2%;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  /* Timeline Markers */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #907ca3;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Left Container*/
  .left {
    right: 6.7%;
  }
  
  /* Right Container */
  .right {
    left: 50%;
  }
  
  /* Point Right Arrows*/
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Point Left Arrows */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Right circle - fix */
  .right::after {
    left: -16px;
  }
  
  /*Content box*/
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  p{
    border-style: none;
    padding: 0.01em 16px;
    font-family: 'Nanum Gothic';
}

  
  /* Media queries - Responsive timeline on screens less than 600px wide - still isn't completely perfect but I got further on this page than I did the others.*/
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }